<div class="grid-container">
  <h1 class="mat-h1">Welcome</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <!-- <mat-card-title>
            {{card.title}}
          </mat-card-title> -->
          <div class="container">
            <app-customer>
              
            </app-customer>
          </div>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
