<script>
    console.log(submitted);
</script>
<div class="row">
    <div class="col-md-5">
        <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="form-group">
                <label class="custom-field">
                    <input type="text" required formControlName="fullName" 
                    class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
                    <span class="placeholder">Enter Full Name</span>
                </label>
                <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors && formControls.fullName.touched">
                    This feild is required.
                </div>
            </div>
            <div class="form-group">
                <label class="custom-field">
                    <input required formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
                    <span class="placeholder">Enter Email</span>
                    <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors && formControls.email.touched">
                        Enter valid Email address.
                    </div>
                </label>
            </div>
            <div>
                <label class="custom-field">
                    <input type="text" required formControlName="roles">
                    <span class="placeholder">Role</span>
                </label>
            </div>
            <div>
                <label class="custom-field">
                    <input required type="text" formControlName="disabled">
                    <span class="placeholder">Disabled</span>
                </label>
            </div>
            <div>
                <label class="button">
                    <input type="submit" value="Add Record to Database">
                </label>
            </div>
        </form>
        <div *ngIf="showSuccessMessage" style="color: red;">
            Submitted Successfully.
        </div>
    </div>
</div>